body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.input-section {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
    color: gray;
}